<div class="container-fluid">

    <form action="" method="post">
    
        <div class="form-group">
            <label for="">Nombres:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Ingrese nombre" aria-describedby="helpId">
            <small id="helpId" class="text-muted"></small>
          </div>
          <br>
          <div class="form-group">
            <label for="">Apellidos:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Ingrese apellidos" aria-describedby="helpId">
            <small id="helpId" class="text-muted"></small>
          </div>
          <br>
          <div class="form-group">
            <label for="">Correo:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Ingrese correo" aria-describedby="helpId">
            <small id="helpId" class="text-muted"></small>
          </div>

    </form>

</div>